body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#hand_gesture_name ,#hand_gesture_name2  
{
  color: black;
}
.hand_gesture
{
  font-size: 40px;
}
.handgesture
{
  font-size:48px;
}
